@{
    ViewBag.Title = "Weather";
}

<h1>Search City and Get Weather Forecast</h1>

<div>
    <strong>City Name  :</strong><input id="txtCity" type="text" />
    <br />
    <br />
    <button id="btnSubmit">Get Weather Forecast</button>
</div>


<div>
    <h2>Weather Forecast</h2>
    <table>
        <tr>
            <td>Weather Symbol Icon <img id="imgWeatherIconUrl" src="" title="Weather Icon" /></td>
        </tr>
        <tr>
            <td>
                <strong>City: </strong>
                <span id="lblCity"></span>  ,
                <span id="lblCountry"></span>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Latitude: </strong>
                <label id="lblLat"></label><br />
                <strong>Longitude: </strong>
                <label id="lblLon"></label>

            </td>
        </tr>
        <tr>
            <td>
                <strong>Description:</strong>
                <label id="lblDescription"></label><br />
                <strong>Humidity:</strong>
                <label id="lblHumidity"></label>
            </td>
        </tr>
        <tr>
            <td>
                Temperature (Feels Like)<label id="lblTempFeelsLike"></label><br />
                Temperature <label id="lblTemp"></label><br />
                Temperature (Min)<label id="lblTempMin"></label><br />
                Temperature (Max)<label id="lblTempMax"></label><br />
            </td>
        </tr>


    </table>
</div>

<script>

    $("#btnSubmit").click(function () {
        var cityname = $("#txtCity").val();
        if (cityname.length > 0) {
            $.ajax({
                url: "https://localhost:44319/Home/WeatherDetail?City=" + cityname,
                type: "GET",
                success: function (rsltval) {
                    var data = JSON.parse(rsltval);
                    console.log(data);
                    $("#lblCity").html(data.city);
                    $("#lblCountry").text(data.country);
                    $("#lblLat").text(data.lat);
                    $("#lblLon").text(data.lon);
                    $("#lblDescription").text(data.description);
                    $("#lblHumidity").text(data.humidity);
                    $("#lblTempFeelsLike").text(data.tempFeelsLike);
                    $("#lblTemp").text(data.temp);
                    $("#lblTempMax").text(data.tempMax);
                    $("#lblTempMin").text(data.tempMin);
                    $("#imgWeatherIconUrl").attr("src", "http://openweathermap.org/img/w/" + data.weatherIcon + ".png");
                    //data - response from server
                },
                error: function () {

                }
            });
        }
        else {
            alert("City Not Found");
        }
    });

</script>    