@model CarService.Web.ViewModels.Cars.CarDeleteViewModel


@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div>
    <h4>
        Аre you sure you want to delete the article?
    </h4>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="All">Back</a>
    </form>
</div>

